/* Estrutura Geral _______________________________*/
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif; 
}

footer {
    text-align: center;
    padding: 20px 0px;
    background-color: #e2e2e2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    width: 200px;
    padding: 10px;
}

/* Menu Lateral V2 _____________________________________*/

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #006699;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

div.sideBar ul {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

div.sideBar ul a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sideBar ul a:hover {
    transition: background-color 0.1s;
    background-color: #0284c5;
    color: #ffffff;
}

.sideBar ul a:active {
    transition: background-color;
    background-color: #004161;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ffffff;
}

.openBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #006699;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
}

/* Ícone Usuário _______________________________________*/

div.userIcon {
    background-color: #006699;
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    border-radius: 40px;
}

div.userIcon a img{
    width: 35px;
}

/* Tela Principal - Pesquisa ____________________________*/

div.mainContent {
    margin: 10px;
    padding: 10px;
    border-top: 2px solid #BEBEBE;
    margin-top: 20px;
}

div .searchBar {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

#searchInput {
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #BEBEBE;
}

#searchInput:focus {
    outline: none;
    border: 2px solid #006699;
}

.useButton {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #006699;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.useButton:hover {
    background-color: #0f7fb8;
}

#resultTable {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}
th {
    background-color: #006699;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}
