body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 440px;
    height: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
    border: 2px solid #00486C;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: -5px;
    font-size: 22px;
    font-weight: 600;
}

input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #BEBEBE;
    padding: 10px;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    color: #1e1e1e;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #dddddd;
}

h1 {
    color: black;
    margin-top: 50px;
    font-weight: 575;
    font-size: 40px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #00486C;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    margin-top: 45px;
    cursor: pointer;
}

button:hover {
    background-color: #0f7fb8;
}