option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_DATASOURCE_URL: jdbc:postgresql://database-1.cps208c8cpp0.us-east-2.rds.amazonaws.com:5432/postgres
    SPRING_DATASOURCE_USERNAME: postgres
    SPRING_DATASOURCE_PASSWORD: Kuriyama!24
    CORS_ALLOWED_ORIGINS: http://localhost:4200
    JWT_SECRET: q0Ofty/GFEy7xkSp2iRJup9QuW7M7E4WoMAsnl4/SJY=
    JWT_EXPIRATION: 86400000
    SERVER_PORT: 5000
    JPA_DDL_AUTO: update
    JPA_SHOW_SQL: false
  aws:elasticbeanstalk:container:java:
    JVMOptions: -Xmx512m -Xms256m
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

